@charset "UTF-8";

#img1{
    
    background-image: url(imagens/Captura\ de\ tela\ 2024-09-27\ 210842.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed center;
    width: 100%; /* A imagem vai ocupar 100% do contêiner */
    height: auto;
    display: block;
    justify-content: center;
}


#img2{
    height: 30vh;
    background-image: url(imagens/img22.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 70vw; /* A imagem vai ocupar 100% do contêiner */
    height: 70vh;
    display: flexbox; 
    justify-content: center;
}