@charset "UTF-8";


#img2{
    height: 30vh;
    background-image: url(imagens/img22.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100vw; /* A imagem vai ocupar 100% do contêiner */
    height: 70vh;
    display: flexbox; 
    justify-content: center;
}